.Login {
    margin: 150px;
    padding: 40px 40px;
    background: #fff;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    transition: 0.3s;
}

small {
    color: red;
}
.form-group {
    min-width: 450px;
}
